<header style="background-color: #295F98 ">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <a routerLink="/"><img src="assets/Contenido/logo.png" alt="Logo" style="height: 50px;"></a>
                </div>
                
                <a class="navbar-brand ms-2" *ngIf="!isAdmin">
                    <h2 class="mt-2 text-white">COSTEÑO EXPRESS</h2>
                </a>
                      <!-- Opciones para el administrador -->
                      <!-- <div *ngIf="isAdmin" class="d-flex align-items-center justify-content-between">
                        <a class="nav-link text-white" (click)="cambiarVista('buses')">Buses</a>
                        <a class="nav-link text-white" (click)="cambiarVista('rutas')">Rutas</a>
                        <a class="nav-link text-white" (click)="cambiarVista('viajes')">Viajes</a>
                        <a class="nav-link text-white" (click)="cambiarVista('choferes')">Choferes</a>
                        <a class="nav-link text-white" (click)="cambiarVista('terminales')">Terminales</a>
                    </div> -->
                    <div *ngIf="isAdmin" class="d-flex align-items-center justify-content-between">
                        <a class="nav-link text-white fw-bold text-uppercase me-3 fs-5" routerLink="/menus/buses">Buses</a>
                        <a class="nav-link text-white fw-bold text-uppercase me-3 fs-5" routerLink="/menus/rutas">Rutas</a>
                        <a class="nav-link text-white fw-bold text-uppercase me-3 fs-5" routerLink="/menus/viajes">Viajes</a>
                        <a class="nav-link text-white fw-bold text-uppercase me-3 fs-5" routerLink="/menus/choferes">Choferes</a>
                        <a class="nav-link text-white fw-bold text-uppercase me-3 fs-5" routerLink="/menus/terminales">Terminales</a>
                    </div>                   
                    
                    
               
                <div class="d-flex align-items-center justify-content-between">
                    <a class="nav-link active">
                        <i class="bi bi-person-circle text-white" style="font-size: 35px;"></i>
                    </a>
                    <div class="dropdown contenido-derecha mx-5">
                        <div>
                            <strong class="user-name text-white">Hola!</strong>
                        </div>
                        <a class="etiqueta dropdown-toggle d-flex" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
                            <span *ngIf="!isLogged" class="user-name text-white">Inicia Sesión</span>
                            <span *ngIf="isLogged" class="user-name text-white">{{nombreUsuario}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="!isLogged"><a routerLink="/login" class="dropdown-item">Inicia sesión</a></li>
                            <li *ngIf="!isLogged"><a routerLink="/registro" class="dropdown-item">Regístrate</a></li>
                            <li *ngIf="isLogged"><a routerLink="/perfil" class="dropdown-item">Mi perfil</a></li>
                            <li *ngIf="isLogged"><a (click)="logout()" class="dropdown-item">Cerrar sesión</a></li>
                           
                          
                        </ul>
                    </div>
                </div>
           
            </div>
        </nav>
    </div>
</header>
