.custom-header {
    background-color: #1d5b99;
    color: white;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .custom-container {
    border: 2px solid #1d5b99;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .custom-container table {
    margin-bottom: 0;
  }
  .custom-container .form-control {
    font-size: 1rem;
    padding: 5px 10px;
  }
  .custom-container .form-select {
    height: 50px; /* Ajusta el ancho aquí según lo que necesites */
    width: 120px;
}
  .custom-container label {
    font-weight: bold;
  }
  