<div class="container"> 
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                Pasajero {{ numeroPasajero }}
                </div>
                <div class="card-body">
                <div class="form-group">
                    <label for="numero-documento">Número de Documento:</label>
                    <input type="text" class="form-control" id="numero-documento" [(ngModel)]="pasajero.numDocumento">
                </div>
                <div class="form-group">
                    <label for="nombres">Nombres:</label>
                    <input type="text" class="form-control" id="nombres" [(ngModel)]="pasajero.nombres">
                </div>
                <div class="form-group">
                    <label for="apellido-paterno">Apellido Paterno:</label>
                    <input type="text" class="form-control" id="apellido-paterno" [(ngModel)]="pasajero.apellidos">
                </div>
                <div class="form-group">
                    <label for="apellido-materno">Apellido Materno:</label>
                    <input type="text" class="form-control" id="apellido-materno" [(ngModel)]="pasajero.apellidos">
                </div>
                <div class="form-group">
                    <label for="fecha-nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" class="form-control" id="fecha-nacimiento" [(ngModel)]="pasajero.fecNacimiento">
                </div>
                
            </div>
        </div>
    </div>
</div>
