<app-header (viewChange)="setView($event)"></app-header>

<div class="container mt-4">
    <div class="custom-header">
        <h1 class="text-center mb-0">{{ currentView | titlecase }}</h1>
    </div>

    <!-- Componente de gestión para la vista actual -->
    <app-management-view *ngIf="['buses', 'rutas', 'viajes', 'choferes', 'terminales'].includes(currentView)"
                        [title]="'Gestión de ' + currentView | titlecase"
                        [items]="getItems(currentView)"
                        (addItem)="openModal(currentView)"
                        (editItem)="seleccionarEntidad($event, currentView)"
                        (deleteItem)="eliminarEntidad($event, currentView)">
    </app-management-view>

    <!-- Modal para crear la entidad correspondiente -->
    <app-modal 
        [title]="'Crear ' + (currentView | titlecase)"
        [formFields]="getFormFields(currentView)" 
        [currentView]="currentView"
        (itemCreated)="handleItemCreated($event)">
    </app-modal>
</div>
