<app-header (viewChange)="setView($event)"></app-header> 

<div class="container mt-4">
    <div class="custom-header">
        <h1 class="text-center mb-0">{{ currentView | titlecase }}</h1>
    </div>

    <app-management-view *ngIf="currentView === 'buses'"
                            [title]="'Gestión de Buses'"                     
                            [items]="buses"
                            (addItem)="openBusModal()"
                            (editItem)="seleccionarBus($event)"
                            (deleteItem)="eliminarBus($event)">
    </app-management-view>

    <app-management-view *ngIf="currentView === 'rutas'"
                            [title]="'Gestión de Rutas'"                  
                            [items]="rutas"
                            (addItem)="openRouteModal()"
                            (editItem)="seleccionarRuta($event)"
                            (deleteItem)="eliminarRuta($event)">
    </app-management-view>

    <app-management-view *ngIf="currentView === 'viajes'"
                            [title]="'Gestión de Viajes'"                    
                            [items]="viajes"
                            (addItem)="openTripModal()"
                            (editItem)="seleccionarViaje($event)"
                            (deleteItem)="eliminarViaje($event)">
    </app-management-view>

    <app-management-view *ngIf="currentView === 'choferes'"
                            [title]="'Gestión de Choferes'"                   
                            [items]="choferes"
                            (addItem)="openDriverModal()"
                            (editItem)="seleccionarChofer($event)"
                            (deleteItem)="eliminarChofer($event)">
    </app-management-view>

    <app-management-view *ngIf="currentView === 'terminales'"
                            [title]="'Gestión de Terminales'"                    
                            [items]="terminales"
                            (addItem)="openTerminalModal()"
                            (editItem)="seleccionarTerminal($event)"
                            (deleteItem)="eliminarTerminal($event)">
    </app-management-view>

    <app-modal 
        title="Crear {{ currentView | titlecase }}" 
        [formFields]="getFormFields(currentView)" 
        (itemCreated)="handleItemCreated($event)">
    </app-modal>
</div>
