<div class="custom-container mt-0">
    <h2>{{ title }}</h2>

    <!-- Botón para abrir el modal -->
    <button class="btn btn-success mb-3" (click)="openModal()" >Crear {{ title }}</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <ng-container *ngIf="title.includes('Bus'); else isRoute">
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th>Asientos</th>
                    <th>Estado</th>
                </ng-container>
                <ng-template #isRoute>
                    <ng-container *ngIf="title.includes('Ruta'); else isTrip">
                        <th>Distancia (Km)</th>
                        <th>Duración</th>
                        <th>Estado</th>
                    </ng-container>
                </ng-template>
                <ng-template #isTrip>
                    <ng-container *ngIf="title.includes('Viaje'); else isDriver">
                        <th>Fecha Salida</th>
                        <th>Fecha Llegada</th>
                        <th>Estado</th>
                    </ng-container>
                </ng-template>
                <ng-template #isDriver>
                    <ng-container *ngIf="title.includes('Chofer'); else isTerminal">
                        <th>Licencia</th>
                        <th>Fecha Licencia</th>
                        <th>Estado</th>
                    </ng-container>
                </ng-template>
                <ng-template #isTerminal>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Departamento</th>
                    <th>Provincia</th>
                    <th>Distrito</th>
                </ng-template>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <ng-container *ngIf="title.includes('Bus'); else isRoute">
                    <td>{{ item.modelo }}</td>
                    <td>{{ item.placa }}</td>
                    <td>{{ item.asientosPiso1 + item.asientosPiso2 }}</td>
                    <td>{{ item.estadoBus }}</td>
                </ng-container>
                <ng-template #isRoute>
                    <ng-container *ngIf="title.includes('Ruta'); else isTrip">
                        <td>{{ item.distanciaKm }}</td>
                        <td>{{ item.duracionAproximada }}</td>
                        <td>{{ item.estadoRuta }}</td>
                    </ng-container>
                </ng-template>
                <ng-template #isTrip>
                    <ng-container *ngIf="title.includes('Viaje'); else isDriver">
                        <td>{{ item.fechaHoraSalida }}</td>
                        <td>{{ item.fechaHoraLlegada }}</td>
                        <td>{{ item.estadoViaje }}</td>
                    </ng-container>
                </ng-template>
                <ng-template #isDriver>
                    <ng-container *ngIf="title.includes('Chofer'); else isTerminal">
                        <td>{{ item.liceConducir }}</td>
                        <td>{{ item.fechaLincencia }}</td>
                        <td>{{ item.estadoChofer }}</td>
                    </ng-container>
                </ng-template>
                <ng-template #isTerminal>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.direccion }}</td>
                    <td>{{ item.departamento }}</td>
                    <td>{{ item.provincia }}</td>
                    <td>{{ item.distrito }}</td>
                </ng-template>

                <td>
                    <button (click)="editItem.emit(item)" class="btn btn-primary btn-sm">Editar</button>
                    <button (click)="deleteItem.emit(item)" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
