<app-header></app-header>

<div class="container mt-4">
    <!-- Encabezado azul -->
    <div class="custom-header">
        <h1 class="text-center mb-0">Rutas</h1>
    </div>

    <!-- Contenedor con border azul y bordes redondeados -->
    <div class="custom-container mt-0">
        <!-- Botón "Crear nuevo" en una fila separada -->
        <div class="row mb-3">
            <div class="col-md-12">
                <!-- Llama al método para agregar una nueva ruta y abre el modal -->
                <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#crearRutaModal">+ Crear nueva</button>
            </div>
        </div>

        <!-- Controles "Mostrar" y "Buscar" en la siguiente fila -->
        <div class="row mb-3">
            <div class="col-md-3">
                <label style="color: black;" for="mostrar">Mostrar:</label>
                <select class="form-select" id="mostrar">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-md-6"></div> <!-- Espacio para centrar los formularios -->
            <div class="col-md-3">
                <label style="color: black;" for="buscar">Buscar:</label>
                <input type="text" class="form-control" id="buscar" #buscarInput (input)="buscarRuta(buscarInput.value)">
            </div>
        </div>

        <!-- Tabla de rutas -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Terminal Origen</th>
                    <th>Terminal Destino</th>
                    <th>Distancia (km)</th>
                    <th>Duración Aproximada</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ruta of rutas">
                    <td>{{ ruta.origen.nombre }}</td>
                    <td>{{ ruta.destino.nombre }}</td>
                    <td>{{ ruta.distanciakm }}</td>
                    <td>{{ ruta.duracionAprox }}</td>
                    <td>{{ ruta.estado }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" (click)="seleccionarRuta(ruta)" data-toggle="modal" data-target="#editarRutaModal">
                            <i class="fas fa-edit"></i> Editar
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="eliminarRuta(ruta)">
                            <i class="fas fa-trash-alt"></i> Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- Modal para crear una nueva ruta -->
<div class="modal fade" id="crearRutaModal" tabindex="-1" aria-labelledby="crearRutaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullwidth">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearRutaModalLabel" style="color: black;">Crear nueva ruta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="distanciakm" class="form-label" style="color: black;">Distancia (km):</label>
                            <input type="number" class="form-control" [(ngModel)]="nuevaRuta.distanciakm" name="distanciakm">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="duracionAprox" class="form-label" style="color: black;">Duración Aproximada:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.duracionAprox" name="duracionAprox">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="estado" class="form-label" style="color: black;">Estado:</label>
                            <select class="form-select" [(ngModel)]="nuevaRuta.estado" name="estado" style="width: 120px; height: 50px;">
                                <option value="Activo">Activo</option>
                                <option value="Inactivo">Inactivo</option>
                            </select>
                        </div>
                    </div>

                    <!-- Campos para Terminal de Origen -->
                    <h5 style="color: black;">Terminal de Origen</h5>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nombreOrigen" class="form-label" style="color: black;">Nombre:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.origen.nombre" name="nombreOrigen">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="direccionOrigen" class="form-label" style="color: black;">Dirección:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.origen.direccion" name="direccionOrigen">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="departamentoOrigen" class="form-label" style="color: black;">Departamento:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.origen.departamento" name="departamentoOrigen">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="provinciaOrigen" class="form-label" style="color: black;">Provincia:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.origen.provincia" name="provinciaOrigen">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="distritoOrigen" class="form-label" style="color: black;">Distrito:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.origen.distrito" name="distritoOrigen">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="geolocalizacionLatOrigen" class="form-label" style="color: black;">Geolocalización Lat:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.origen.geolocalizacionLat" name="geolocalizacionLatOrigen">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="geolocalizacionLonOrigen" class="form-label" style="color: black;">Geolocalización Lon:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.origen.geolocalizacionLon" name="geolocalizacionLonOrigen">
                        </div>
                    </div>

                    <!-- Campos para Terminal de Destino -->
                    <h5 style="color: black;">Terminal de Destino</h5>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nombreDestino" class="form-label" style="color: black;">Nombre:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.destino.nombre" name="nombreDestino">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="direccionDestino" class="form-label" style="color: black;">Dirección:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.destino.direccion" name="direccionDestino">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="departamentoDestino" class="form-label" style="color: black;">Departamento:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.destino.departamento" name="departamentoDestino">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="provinciaDestino" class="form-label" style="color: black;">Provincia:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.destino.provincia" name="provinciaDestino">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="distritoDestino" class="form-label" style="color: black;">Distrito:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.destino.distrito" name="distritoDestino">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="geolocalizacionLatDestino" class="form-label" style="color: black;">Geolocalización Lat:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.destino.geolocalizacionLat" name="geolocalizacionLatDestino">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="geolocalizacionLonDestino" class="form-label" style="color: black;">Geolocalización Lon:</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaRuta.destino.geolocalizacionLon" name="geolocalizacionLonDestino">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="agregarRuta()" data-bs-dismiss="modal">Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar una ruta -->
<div class="modal fade" id="editarRutaModal" tabindex="-1" aria-labelledby="editarRutaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarRutaModalLabel" style="color: black;">Editar ruta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="distanciakm" class="form-label" style="color: black;">Distancia (km):</label>
                        <input type="number" class="form-control" [(ngModel)]="rutaEditando.distanciakm" name="distanciakm">
                    </div>
                    <div class="mb-3">
                        <label for="duracionAprox" class="form-label" style="color: black;">Duración Aproximada:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.duracionAprox" name="duracionAprox">
                    </div>
                    <div class="mb-3">
                        <label for="estado" class="form-label" style="color: black;">Estado:</label>
                        <select class="form-select" [(ngModel)]="rutaEditando.estado" name="estado" style="width: 120px; height: 50px;">
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                    <!-- Campos para Terminal de Origen -->
                    <h5 style="color: black;">Terminal de Origen</h5>
                    <div class="mb-3">
                        <label for="nombreOrigenEdit" class="form-label" style="color: black;">Nombre:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.origen.nombre" name="nombreOrigenEdit">
                    </div>
                    <div class="mb-3">
                        <label for="direccionOrigenEdit" class="form-label" style="color: black;">Dirección:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.origen.direccion" name="direccionOrigenEdit">
                    </div>
                    <div class="mb-3">
                        <label for="departamentoOrigenEdit" class="form-label" style="color: black;">Departamento:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.origen.departamento" name="departamentoOrigenEdit">
                    </div>
                    <div class="mb-3">
                        <label for="provinciaOrigenEdit" class="form-label" style="color: black;">Provincia:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.origen.provincia" name="provinciaOrigenEdit">
                    </div>
                    <div class="mb-3">
                        <label for="distritoOrigenEdit" class="form-label" style="color: black;">Distrito:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.origen.distrito" name="distritoOrigenEdit">
                    </div>
                    <div class="mb-3">
                        <label for="geolocalizacionLatOrigenEdit" class="form-label" style="color: black;">Geolocalización Lat:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.origen.geolocalizacionLat" name="geolocalizacionLatOrigenEdit">
                    </div>
                    <div class="mb-3">
                        <label for="geolocalizacionLonOrigenEdit" class="form-label" style="color: black;">Geolocalización Lon:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.origen.geolocalizacionLon" name="geolocalizacionLonOrigenEdit">
                    </div>

                    <!-- Campos para Terminal de Destino -->
                    <h5 style="color: black;">Terminal de Destino</h5>
                    <div class="mb-3">
                        <label for="nombreDestinoEdit" class="form-label" style="color: black;">Nombre:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.destino.nombre" name="nombreDestinoEdit">
                    </div>
                    <div class="mb-3">
                        <label for="direccionDestinoEdit" class="form-label" style="color: black;">Dirección:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.destino.direccion" name="direccionDestinoEdit">
                    </div>
                    <div class="mb-3">
                        <label for="departamentoDestinoEdit" class="form-label" style="color: black;">Departamento:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.destino.departamento" name="departamentoDestinoEdit">
                    </div>
                    <div class="mb-3">
                        <label for="provinciaDestinoEdit" class="form-label" style="color: black;">Provincia:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.destino.provincia" name="provinciaDestinoEdit">
                    </div>
                    <div class="mb-3">
                        <label for="distritoDestinoEdit" class="form-label" style="color: black;">Distrito:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.destino.distrito" name="distritoDestinoEdit">
                    </div>
                    <div class="mb-3">
                        <label for="geolocalizacionLatDestinoEdit" class="form-label" style="color: black;">Geolocalización Lat:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.destino.geolocalizacionLat" name="geolocalizacionLatDestinoEdit">
                    </div>
                    <div class="mb-3">
                        <label for="geolocalizacionLonDestinoEdit" class="form-label" style="color: black;">Geolocalización Lon:</label>
                        <input type="text" class="form-control" [(ngModel)]="rutaEditando.destino.geolocalizacionLon" name="geolocalizacionLonDestinoEdit">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarCambiosRuta()" data-bs-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para eliminar una ruta -->
<div class="modal fade" id="eliminarRutaModal" tabindex="-1" aria-labelledby="eliminarRutaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarRutaModalLabel">Eliminar ruta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de eliminar la ruta <strong>{{ rutaEditando?.nombre }}</strong>?</p>
                <p><strong>Terminal de Origen:</strong> {{ rutaEditando?.origen.nombre }}</p>
                <p><strong>Terminal de Destino:</strong> {{ rutaEditando?.destino.nombre }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="eliminarRuta(rutaEditando)" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>

