<div *ngFor="let viaje of data" class="card-container"> 
    <div class="card-content">
        <div class="service-info">
            <p class="service-date">Servicio<br> {{ viaje.fechaSalida | date: 'shortDate' }}</p>
        </div>
    
        <div class="time-info">
            <h2>{{ viaje.horaSalida }}</h2>
            <h4>{{ viaje.ruta.terminalOrigen }}</h4>
        </div>
    
        <div class="duration-info">
            <span class="arrow">→</span>
            <p>{{ viaje.ruta.duracion }}</p>
        </div>
    
        <div class="time-info">
            <h2>{{ viaje.horaLlegada }}</h2>
            <h4>{{ viaje.ruta.terminalDestino }}</h4>
        </div>
    
        <div class="price-info">
            <button class="price-button"></button>
        </div>
    </div>
</div>
