<div class="modal fade" id="crearBusModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">{{ title }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form (ngSubmit)="agregarItem()">
                <div class="mb-3" *ngFor="let field of formFields">
                <label [for]="field.name" class="form-label">{{ field.label }}:</label>
                <input [type]="field.type" class="form-control"
                        [(ngModel)]="newItem[field.name]" [name]="field.name"
                        [required]="field.required" [id]="field.name">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>